@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

:root {
  --primary: #1d3557;
  --secondary: #e63946;
  --light: #f1faee;
  --dark: #131313;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: var(--light);
}

.page-title {
  margin: 20px auto;
  color: var(--primary);
  text-align: center;
}

.page-title .typescript {
  color: var(--secondary)
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}
li {
  padding: 6px 10px;
  border: 1px solid #eee;
  margin: 10px auto;
}
li h4 {
  color: var(--secondary);
  margin: 0;
  text-transform: capitalize;
}
li p {
  color: #333;
  margin: 8px 0 0;
}

form {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
label {
  display: block;
  font-weight: bold;
  font-size: 0.8em;
  color: #333;
  margin: 16px 0 6px;
}

table {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  background-color: var(--primary);
  color: var(--light);
  text-align: center;
  font-size: 0.8em;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input,
select {
  padding: 6px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.field {
  display: inline-block;
  margin: 0 10px;
}
button {
  color: white;
  border: 0;
  background: var(--primary);
  padding: 6px;
  min-width: 80px;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background: #eee;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

footer a {
  text-align: center;
  display: block;
  color: #999;
  margin-top: 40px;
  font-size: 0.7em;
}
